    <footer class="bottom">
      <span class="mark mark--lg" aria-hidden="true">
        <i></i><i></i><i></i><i class="o"></i><i class="o"></i>
        <i></i><i class="o"></i><i></i><i class="o"></i><i class="o"></i>
        <i></i><i></i><i></i><i class="o"></i><i class="o"></i>
        <i class="o"></i><i class="o"></i><i class="o"></i><i></i><i></i>
        <i class="o"></i><i class="o"></i><i class="o"></i><i></i><i class="b"></i>
      </span>
      <div class="row">
        <div>
          <a href="/project">Project</a>
          <a href="/collar">Collar</a>
          <a href="/notes">Notes</a>
          <a href="/about">About</a>
          <a href="/involved">Get involved</a>
          <a href="/docs">Docs</a>
          <a href="{{kitRepo}}" rel="noopener">GitHub</a>
        </div>
        <div>
          <a href="/pricing">Pricing</a>
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
        </div>
      </div>
    </footer>
